@model PlatCategorieModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="mb-3" method="get">
    <select asp-for="Filtre">
        <option>Choisissez une catégorie</option>
        @foreach (CategorieModel c in Model.Categories)
        {
            <option value="@c.Id">@c.Nom</option>
        }
    </select>
    <button class="btn btn-danger">Rechercher</button>
</form>
<table class="table">
    <thead>
        <tr class="table-active">
            <th>
                Nom
            </th>
            <th>
                Prix
            </th>
            <th>
                Nom de la catégorie
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prix) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorieNom)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Nom)" class="rounded-pill shadow" style="width: 150px; height: auto;" />
                </td>
                <td>
                    <a class="btn btn-outline-success " asp-action="Update" asp-route-id="@item.Id">Editer</a>
                    <a class="btn btn-danger deleteButton" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        const deleteButton = document.getElementsByClassName("deleteButton");
        for (let button of deleteButton) {
            button.addEventListener('click', event => {
                let reponse = confirm();
                if (!reponse) {
                    event.preventDefault();
                }
            })
        }
    </script>
}
